# -- Database --
DATABASE_HOST=identityservice-postgresql
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USERNAME=appuser
DATABASE_PASSWORD=apppass

# -- Redis --
REDIS_HOST=identityservice-redis
REDIS_PORT=6379
REDIS_USERNAME=redis_user
REDIS_PASSWORD=redis_passoword
REDIS_INSTANCE_NAME="identityservice"

# -- App --
AUTH_ISSUER=http://localhost:5001
AUTH_AUDIENCE=http://localhost:5002
AUTH_KEY=mysupersecret